# Assignment 22 Feb -- "Basic Pandas"

In [2]:
#Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [10]:
import pandas as pd
s = pd. Series([4,8,15,16,23,42])
print(s)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [11]:
# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [15]:
import pandas as pd

l = [1,2,3,4,5,6,7,8,9,10]
l1 = pd.Series(l)
print(l1)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [16]:
# Q.3

In [20]:
import pandas as pd
df = pd.read_excel("Practice in Python.xlsx")

In [22]:
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [23]:
# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [24]:
# DataFrame:- 

#  A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.
# Pandas example-

A  B  C  D
1  2  3  4
11 12 13 14
21 22 23 24

# Series can only contain single list with index, whereas dataframe can be made of more than one series 
# or we can say that a dataframe is a collection  of series that can be used to analyse the data.

Series example:-
S= [1,2,3,4]

SyntaxError: invalid syntax (2513019119.py, line 6)

In [25]:
# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
# you give an example of when you might use one of these functions?

In [26]:
# The 9 must know functions to handle any pandas dataframe
# Five functions to get to know your dataset.
# Filter your dataframe by value.
# Had datetime type.
# Merge multiple datasets.
# Handle columns.
# Group by value.
# Apply a function.
# Use the lambda method.

In [27]:
# Lambda Function:-
# We use Lambda Function when we need to use only once the function, like temporary use .
# A lambda function is a small anonymous function. A lambda function can take any number of arguments, but can only have one expression.

In [28]:
# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [ ]:
#  DataFrame is mutable in nature.

In [29]:
# Q7. Create a DataFrame using multiple Series. Explain with an example.

In [31]:

import pandas as pd
 

name = ["raju", "rahul", "uttam", "sudh"]
marks = [100, 200, 300, 400]

name_series = pd.Series(name)
marks_series = pd.Series(marks)

df = { 'name': name_series, 'marks': marks_series }

result = pd.DataFrame(df)

print(result)

    name  marks
0   raju    100
1  rahul    200
2  uttam    300
3   sudh    400